@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  cursor: default;
}

@layer utilities {
  .light::-webkit-scrollbar,
  .dark::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  .light::-webkit-scrollbar-track {
    background: var(--primary);
  }

  .dark::-webkit-scrollbar-track {
    background: #333333;
  }

  .light::-webkit-scrollbar-thumb {
    background: #379777;
    /* border-radius: 100vh; */
    border: 3px solid #379777;
  }

  .dark::-webkit-scrollbar-thumb {
    background: #333333;
    /* border-radius: 100vh; */
    border: 3px solid #333333;
  }

  body::-webkit-scrollbar-thumb:hover {
    background: #379777;
  }
}

.logo,
.font-primary {
  font-family: "Mochiy Pop One", sans-serif !important;
}

.ql-editor {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.05rem !important;
}

.dark .ql-editor.ql-blank::before {
  color: rgb(243 244 246 / 1) !important;
}

.dark .ql-snow .ql-picker {
  color: rgb(243 244 246 / 1) !important;
}

.dark .ql-snow .ql-stroke {
  stroke: rgb(243 244 246 / 1) !important;
}

.dark form svg,
.dark .card svg {
  stroke: rgb(243 244 246 / 1) !important;
}

/* react editor css code  */
.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: teal;
}

.post-content pre {
  background-color: #1e293b;
  border: 1px solid rgb(61, 69, 83);
  color: #e8e7e7;
  white-space: pre-wrap;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.dark .post-content pre {
  background-color: rgb(17 24 39 / 1);
}

.post-content code {
  background-color: #ececec;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  line-height: 2;
}

.dark .post-content code {
  color: #333;
}

.post-content p {
  margin-bottom: 0.5rem;
}
